[Unit]
Description=podcasts-rss

[Service]
User=content-api
Group=content-api
Restart=no
Environment='HOME=/home/content-api'
Environment='JAVA_OPTS=-Xmx768m -Xms768m -XX:+UseConcMarkSweepGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/home/content-api/logs/gc.log -XX:+TieredCompilation -XX:ReservedCodeCacheSize=256m -Dconfig.file=/etc/gu/podcasts-rss.conf'
WorkingDirectory=/home/content-api

ExecStart=/home/content-api/podcasts-rss/bin/podcasts-rss

[Install]
WantedBy=multi-user.target